<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/97b1754d-d15e-438c-8197-f402a63b89b1/resourceGroups/BeginningCSharp/providers/Microsoft.Web/sites/Ch17Ex01-b</ResourceId>
    <SiteUrlToLaunchAfterPublish>https://ch17ex01-b.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>ch17ex01-b.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Ch17Ex01-b</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Ch17Ex01-b</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>